.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem 6rem 6rem 9rem;
  background-color: rgba($color-white, .5);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  font-size: $default-font-size;
  transform: skewX(-12deg);
  // & > * {
  //   transform: skewX(12deg);
  // } not working because you can't have two transofrm, you have to add manualy to shape and text

   @include respond(tab-port){
     width: 90%;
     padding: 4rem 4rem 4rem 7rem;
   }
   @include respond(phone){
     width: 100%;
     transform: skewX(0);
     padding: 4rem;
   }


  &__shape {
    width: 15rem;
    height: 15rem;
    float: left; //float and W&H must be set to use with shape-outside, which wraping text in circle shape
    // -webkit-clip-path: circle(50% at 50% 50%);
    // clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden; // fixes visibility of the pic's sides

    @supports (-webkit-clip-path: circle(50% at 50% 50%)) or (clip-path: circle(50% at 50% 50%)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
        }

    @include respond(phone){
        transform: translateX(-3rem) skewX(0);
          }
      }

  &__text {
    transform: skewX(12deg);
    @include respond(phone){
        transform: skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    font-size: 1.7rem;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; //fix for animation shake
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
